*.pyc
*.so
*.pkl
.DS_Store/
__pycache__/
*.pt
.idea/
.vscode/
build/
workplace/
*.egg-info/
images/
*.blend1
.vscode/
.history/
tools/visualhull/
tools/backup/
tools/imaginaire/
tools/EasyMocap
fb_sweep/
fb_scripts/
examples/
code_backup/
results/
trash/
checkpoints/
core
tools/
0.png
sample.zip
